/* ニュース下部の装飾入れ物 */
.news_bottom_container {
    position: relative;
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    .news_bottom_container {
        padding-top: 80px;
    }
}

/* 下部自転車の女性用 */
.news_main_wrap {
    position: relative;
    padding-bottom: 60px;
}

.news_bottom_cycle_img {
    display: none;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 100px;
    width: 25%;
    z-index: 1;
}

/* 下部アニメーション用背景 */
.news_bottom_bg_img {
    display: none;
}

@media screen and (min-width: 600px) {
    .news_bottom_cycle_img {
        display: block;
        position: absolute;
        bottom: 0px;
        width: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .news_main_wrap {
        padding-bottom: 180px;
    }

    .news_bottom_cycle_img {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 100px;
        width: 15%;
        z-index: 1;
    }

    .news_bottom_bg_img {
        display: block;
        position: absolute;
        width: 100%;
        z-index: -2;
    }
}

/* 下部背景のアニメーション */
.loop_wrap {
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.loop_wrap img {
    width: auto;
    height: 100%;
}

@keyframes loop {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes loop2 {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200%);
    }
}

.loop_wrap img:first-child {
    animation: loop 50s -25s linear infinite;
}

.loop_wrap img:last-child {
    animation: loop2 50s linear infinite;
}
