/* ヘッダー */
/* ヘッダーの設定 */

/* スクロールでヘッダーの色を変えるここから */
.header {
	position: relative;
	height: 100px;
}

.header_logo {
	position: absolute;
	top: 0;
}

.fix_menu {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 999;
	padding: 30px 0;
	transition: background .5s;
}

.fixed_menu {
	background: #005EA7;
}

/* ヘッダーロゴの設定 */
/* サイズはwidthを大きくするほどサイズも大きくできる */
.header_logo {
	position: fixed;
	/* 最前面に */
	z-index: 101;
	width: 100px;
	margin: 10px;
}

/* ハンバーガーメニューの設定ここから */
::before,
::after {
	/* 親要素と同じ大きさに */
	box-sizing: inherit;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: inherit;
	vertical-align: middle;
	text-align: inherit;
	font: inherit;
	-webkit-appearance: none;
	appearance: none;
}

.menu {
	position: fixed;
	right: -1000%;
	width: 40%;
	height: 100vh;
	margin-left: auto;
	font-size: 100%;
	color: #FFFFFC;
	background-color: #74C7F0;
	z-index: 9;
	transition: 0.3s;
	border-radius: 0 0 0 16px;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
	.menu {
		background-color: transparent;
	}
}

.menu li+li {
	margin-top: 24px;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
	.menu li+li {
		margin-top: 0;
	}
}

.menu li:first-child {
	margin-top: 80px;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
	.menu li:first-child {
		margin-top: 0;
	}
}

.menu li:last-child {
	margin-bottom: 24px;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
	.menu li:last-child {
		margin-top: 0;
	}
}


.menu-list {
	width: 100%;
	/* margin: 10px; */
	/* padding: 10px; */
	/* height: 100%; */
	/* メニューテキスト位置をリスト内中心に */
	font-size: 24px;
	text-align: center;
}

.menu-list rt {
	font-weight: normal;
	text-align: center;
}

/* gnav文字の白ふち */
.font_edge_white {
	font-weight: bold;
}

.menu-list a {
	justify-items: center;
	display: inline-block;
	/* padding: 24px; */
	height: 100%;
	margin-top: 10px;
}

.menu a:hover {
	/* background: rgb(162, 148, 255); */
	color: #EF6000;
}

.btn {
	/* ボタンの配置位置  */
	position: fixed;
	top: 12px;
	right: 16px;
	/* ボタンの大きさ  */
	width: 48px;
	height: 48px;
	/* 最前面に */
	z-index: 100;
}

.hanberg {
	position: relative;
	top: 0;
	right: 100px;
}

/* 真ん中のバーガー線 */
.btn-line {
	/* display: inline-block; */
	position: absolute;
	top: 20px;
	/* バーガー線の位置基準として設定 */
	width: 100%;
	/* 線の長さと高さ */
	height: 4px;
	background-color: #FFFFFC;
	/* バーガー線の色 */
	transition: 0.2s;
	z-index: 120;
}

/* 上下のバーガー線 */
.btn-line::before,
.btn-line::after {
	display: inline-block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFFFFC;
	transition: 0.5s;
}

.btn-line::before {
	/* 上の線の位置 */
	transform: translateY(-16px);
	right: 0;
}

.btn-line::after {
	/* 下の線の位置 */
	transform: translateY(16px);
	right: 0;
}

.menu.open {
	right: 0;
	/*右端にくっつける*/
}

/* 1025px以上はハンバーガーボタン非表示、ヘッダー固定 */
@media screen and (min-width: 1024px) {
	.btn {
		display: none;
	}

	.menu {
		/* メニューを横に */
		display: flex;
		flex-direction: row;
		position: fixed;
		top: 0;
		right: 0;
		width: 65%;
		height: 76.79px;
		font-size: 100%;
	}

	.menu-list a {
		padding-top: 24px;
	}
}

/* メニューオープン時の線の動き */
.btn-line.open {
	background-color: transparent;
	/* 真ん中の線を透明に */
}

.btn-line.open::before,
.btn-line.open::after {
	content: "";
	/* background-color: #333; 上下の線の色を変える */
	transition: 0.2s;
}

.btn-line.open::before {
	transform: rotate(45deg);
	/* 上の線を傾ける */
}

.btn-line.open::after {
	transform: rotate(-45deg);
	/* 下の線を傾ける */
}

/* ハンバーガーメニューの設定ここまで */
