/* index本体 */
.wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* moreボタンのスタイルここから */
.more_btn {
    margin: 48px auto auto auto;
}

/* 検索ボタン装飾 */
.btn_inner {
    width: 240px;
    height: 56px;
    background: #fff;
    box-shadow: 4px 4px #EF6000;
    border: 3px solid #005EA7;
    position: relative;
}

/* 検索ボタンのテキスト */
.top_more_btn {
    color: #FFFFFC;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* moreボタンのスタイルここまで */



/* ---------------section：キービジュアル---------------  */
.key_news_wrap {
    position: relative;
}


/* キービジュアルの箱 */
.index_key_visual {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 動画 */
.index_video_wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.index_video_wrapper>video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}


/* キービジュアル画像 */
/* .key_img {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    object-fit: cover;
} */

/* キービジュ：装飾文字 */
.key_msg {
    font-family: 'Arvo', serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 80px;
    -webkit-text-stroke: 2px #fff;
    text-stroke: 1px #fff;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    position: absolute;
    top: 300px;
    left: 10px;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .key_msg {
        font-size: 120px;
        top: 240px;
        left: 32px;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .key_msg {
        font-size: 144px;
        top: 200px;
        left: 32px;
    }
}

/* キービジュ：装飾画像 */
.key_man {
    width: 120px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 20px;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .key_man {
        width: 190px;
        left: 80px;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .key_man {
        width: 265px;
        left: 100px;
    }
}

/* ---------------section：ニュース---------------  */

/* ニュース全体ボックス */
.index_news {
    width: 100%;
    height: 140px;
    justify-content: space-between;
    background-color: #F3F0E8;
    color: #005EA7;
}

/* PC表示 */
@media screen and (min-width: 930px) {
    .index_news {
        width: 650px;
        height: 160px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/* 見出し */
.index_news h2 {
    width: 30%;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    -webkit-text-stroke: 1px #005EA7;
    text-stroke: 1px #005EA7;
    color: rgba(0, 0, 0, 0);
    text-align: left;
}

/* PC表示 */
@media screen and (min-width: 600px) {
    .index_news h2 {
        font-size: 48px;
    }
}

/* ニュースコンテンツ全部入り */
.index_news_content {
    width: calc(100%*0.83589744);
    margin: 10px;
    justify-content: space-between;
}

.index_news_content h2+article {
    margin-left: 16px;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_news {
        width: 100%;
        max-width: 650px;
        height: 156px;
    }
}

/* ニュース記事単体 */
.index_news_article_box {
    width: 70%;
    margin-left: 16px;
}

.index_news_article_box article+article {
    margin-top: 16px;
}


/* カテゴリタグ＋日付ボックス */
.index_news_meta {
    width: 100%;
    justify-content: space-between;
}

/* カテゴリ */
.index_news_categories {
    font-weight: 900;
}

/* ニュースタイトル */
.index_news_headline {
    width: 100%;
    height: 16px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 一覧へボタン */
.index_news_btn {
    width: calc(100%*0.16410256);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #005EA7;
    color: #FFFFFC;
}

/* ---------------section：サイクリングについて---------------  */
.index_howto {
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #005EA7;
}

/* コンテンツボックス（見出し、概要、ボタン） */
.index_howto_content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .flex_pc {
        display: flex;
        align-items: center;
    }
}

/* テキストボックス */
.index_howto_txtbox {
    width: calc(100%*0.82051282);
    margin: 0 auto;
    color: #FFFFFC;
    text-align: left;
    line-height: 1.2em;
    position: relative;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_howto_txtbox {
        width: 55%;
    }
}

/* 見出し */
.index_howto_top {
    width: 100%;
    padding-top: 32px;
    margin: 0 0 16px;
}

/* キャプション */
.index_howto_txt {
    margin: 32px;
    text-align: left;
}

/* ボタン */
.index_howto_btn {
    color: #000000;
    margin-bottom: 32px;
}

/* 写真ボックス */
.index_howto_img {
    width: 60%;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_howto_img {
        width: 45%;
    }
}

/* 写真 */
.index_howto_img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_howto_img {
        width: 100%;
        max-width: 640px;
        object-fit: cover;
    }
}


/* ---------------section：コースマップ---------------  */
.index_course {
    margin: 0 auto;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_course {
        margin: 160px auto 0;
    }
}

.index_map_imgbox {
    width: 100%;
    margin: 0 auto;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_map_imgbox {
        width: 1024px;
    }
}

/* コースマップの画像 */
.index_map_img {
    width: 100%;
    border: 10px solid #E1D6B8;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_map_img {
        width: 1024px;
        height: 800px;
        margin: 0 auto;
    }
}

/* コースを選ぶ見出し */
.index_couse_selecttop {
    width: 200px;
    margin: 24px auto 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    border-bottom: dashed 2px #EF6000;
}

/* ボタンボックス */
.index_course_btnbox {
    width: 256px;
    margin: 16px auto 0;
    flex-wrap: wrap;
    gap: 16px;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .index_course_btnbox {
        width: 528px;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_course_btnbox {
        width: 688px;
    }
}


/* ボタン共通スタイル */
.index_course_selectbtn {
    width: 120px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFC;
    position: relative;
}

.index_course_btntxt {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_course_selectbtn {
        width: 160px;
        height: 80px;
    }
}

/* ボタン個別スタイル */
/* 初心者コース */
.beginner {
    background-color: #96C85C;
}

/* 短距離コース */
.short {
    background-color: #EF6000;
}

/* 中距離コース */
.middle {
    background-color: #0018EF;
}

/* 長距離コース */
.long {
    background-color: #F00000;
}


/* ---------------section：スポット---------------  */
.index_spot {
    background-color: #D4EBEC;
    position: relative;
}

.index_spot_headlinebox {
    width: 230px;
    margin: 0 auto;
    position: relative;
}


.index_spot_deco {
    font-size: 32px;
    font-weight: 900;
    color: #EF6000;
    text-align: center;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .index_spot_deco {
        display: inline-block;
        transform: rotate(-8deg);
        position: absolute;
        top: -40px;
        left: -30px;
    }
}

/* コース上スポット全体の表示設定 */
.spot_card_box {
    margin: 0 auto 32px;
    width: 320px;
}

/* タブレット時2カラムにする場合 */
@media screen and (min-width: 671px) {
    .spot_card_box {
        width: 672px;
    }
}

@media screen and (min-width: 1024px) {
    .spot_card_box {
        width: 1024px;
    }
}

/* ---------------SPOT上部波アニメーション---------------  */

/* 上の波の入れ物 */
.wave {
    /* display: none; */
    position: relative;
    height: 200px;
    background-color: #F3F0E8;
    /*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
}

/* 波の設定 */
canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* ---------------SPOT下部グラデーション---------------  */
.bg_gradient {
    width: 100%;
    height: 150px;
    background: linear-gradient(#D4EBEC, #F3F0E8);
}

/* ---------------section：インスタグラム---------------  */
.index_insta_content {
    width: 100%;
    margin: 0 auto;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_insta_content {
        max-width: 1024px;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.index_insta_txtbox {
    width: 380px;
    margin: 0 auto;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .index_insta_headline {
        display: inline-block;
        justify-content: space-between;
        align-items: flex-end;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_insta_txtbox {
        width: 380px;
        margin: 0;
    }
}

/* 見出し */
.index_insta_top {
    margin-bottom: 0;
}

/* インスタロゴ */
.insta_logo_img {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto 16px;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .insta_logo_img {
        margin-left: 0;
        margin-bottom: 0;
    }
}

/* キャプション */
.index_insta_caption {
    width: 320px;
    line-height: 1.5em;
    text-align: center;
    margin: 32px auto;
}

/* 装飾画像 */
.index_insta_img {
    display: none;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_insta_img {
        display: block;
        width: 440px;
        height: 263px;
        transform: scale(-1, 1);
        object-fit: cover;
    }
}

/* 装飾画像 */
.index_insta_decobox {
    position: relative;
}

/* TB以上で表示かつflex */
@media screen and (min-width: 599px) {
    .tb_pc_flex {
        display: flex;
    }
}

/* 装飾文字 */
/* デスクトップサイズの時だけ表示する背景装飾 */
.circle {
    display: none;
}

@media screen and (min-width: 1024px) {
    .circle {
        position: absolute;
        top: -75px;
        right: 55px;
        margin: 0 auto;
        width: 168px;
        height: 168px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}



.inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: rotateAnim 10s linear infinite;
    position: relative;
}

@keyframes rotateAnim {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

span {
    position: absolute;
    inset: 0;
    text-align: center;
}

.index_insta_decotxt {
    font-size: 24px;
    font-weight: 900;
    -webkit-text-stroke: 1px #EF6000;
    text-stroke: 1px #EF6000;
    color: rgba(0, 0, 0, 0);
}

/* SnapWidgetの設定 */
.index_insta_SWbox {
    text-align: center;
}

.index_insta_SW {
    background: transparent;
    border: none;
    overflow: hidden;
}

/* ---------------波アニメーション---------------  */

.wave {
    /* display: none; */
    position: relative;
    height: 200px;
    background-color: #F3F0E8;
    /*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
}

/* 波の設定 */
canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
