@charset "UTF-8";

/* 全体の設定 */
.news_detail_container {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (min-width: 600px) {
	.news_detail_container {
		width: 600px;
	}
}

@media screen and (min-width: 1024px) {
	.news_detail_container {
		width: 1024px;
	}
}

/* 記事全体の設定（画面左側） */
.news_detail_article {
	width: 100%;
	padding: 16px;
	border: dashed 2px #ef6000;
	background-color: #fffffc;
	margin-bottom: 80px;
	line-height: 1.5em;
}

@media screen and (min-width: 600px) {
	.news_detail_article {
		width: 600px;
	}
}

@media screen and (min-width: 1024px) {
	.news_detail_article {
		width: 804px;
		margin-bottom: auto;
	}
}

.article_title {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 16px;
}

/* ニュース上部カテゴリと日付の設定 */
.article_meta {
	gap: 16px;
	margin: 16px;
}

.post-categories {
	background-color: #d4ebec;
	border: solid 1px #005ea7;
	color: #005ea7;
}

/* 記事本文の設定 */
.article_body {
	margin-bottom: 32px;
}

/* 写真の設定 */
.article_body img {
	margin: 16px auto;
	width: 280px;
	height: 220px;
	object-fit: cover;
}

@media screen and (min-width: 600px) {
	.article_body img {
		width: 560px;
		height: 294px;
	}
}

@media screen and (min-width: 1024px) {
	.article_body img {
		width: 764px;
		height: 400px;
	}
}

/* 記事下部の別ページへのリンク */
.post_links {
	margin-top: 32px;
}

.post_link {
	width: 50%;
}

.post_link_prev {
	text-align: left;
}

.post_link_next {
	text-align: right;
}

/* アーカイブ部分の設定 */
.news_detail_archive_wrap {
	width: 320px;
}

@media screen and (min-width: 600px) {
	.news_detail_archive_wrap {
		width: 600px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

@media screen and (min-width: 1024px) {
	.news_detail_archive_wrap {
		display: inline-block;
		width: 180px;
	}
}

/* サイズと縁取り（要素の増減に対応） */
.news_detail_archive {
	color: #005ea7;
	border: solid 1px #74c7f0;
	margin-bottom: 24px;
}

@media screen and (min-width: 600px) {
	.news_detail_archive {
		height: auto;
		width: 284px;
		margin-bottom: 40px;
	}
}

@media screen and (min-width: 1024px) {
	.news_detail_archive {
		width: auto;
		margin-bottom: 40px;
	}
}

/* 背景色（要素の増減に対応） */
.news_detail_archive_title {
	height: 40px;
	line-height: 40px;
	background-color: #d4ebec;
	padding-left: 10px;
}

.news_detail_archive_list li {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}

.news_detail_archive_list li:nth-child(even) {
	background-color: #d4ebec;
}

.news_detail_archive_list li:nth-child(odd) {
	background-color: #fff;
}

/* 下部装飾画像用（自転車をこぐ女性） */
.news_detail_wrap {
	position: relative;
	padding-bottom: 60px;
}

.news_bottom_img {
	display: none;
}

@media screen and (min-width: 1024px) {
	.news_bottom_img {
		display: block;
		position: absolute;
		bottom: 0px;
		right: 100px;
		width: 238px;
		height: 292px;
		z-index: -1;
	}
}
