.item {
    width: 320px;
    padding: 16px;
    text-align: center;
    margin: 32px auto;

    background-color: rgba(255, 255, 252, 0.5);
    border: dashed 1px #EF6000;
    border-radius: 3px;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .item {
        width: 600px;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .item {
        width: 1024px;
    }
}



.item_title {
    font-size: 16px;
    font-weight: 600;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .item_title {
        font-size: 24px;
    }

}

.item_caption {
    margin-top: 16px;
    text-align: left;
    line-height: 1.5em;
}

dl:first-child {
    margin-top: 32px;
}

dl:last-child {
    margin-bottom: 60px;
}
