/* Q&A１つ分の枠 */
.accordion-list {
    position: relative;
}

/* 質問アイコンの設定 */
.question_q_img {
    display: none;
    fill: #74C7F0;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* 質問アイコンのPC表示 */
@media screen and (min-width: 1024px) {
    .accordion-list img {
        display: block;
        position: absolute;
        top: 5px;
        left: 16px;
    }
}

/* 回答アイコンは未設定 */

/* 回答アイコンの設定 */
/* .question_a_img {
    display: none;
    width: 50px;
    height: 50px;
    object-fit: cover;
} */

/* 回答アイコンのPC表示 */
/* @media screen and (min-width: 1024px) {
    .question_a_img {
        display: block;
        position: absolute;
        top: 30px;
        left: 16px;
    }
} */


/* Q＆Aの文章 */
@media screen and (min-width: 1024px) {
    .question_txt {
        margin-left: 70px;
    }
}

/* Q&Aのコンテナ */
.accordion-container {
    margin: 50px auto 0;
    max-width: 320px;
    width: 100%;
    text-align: left;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .accordion-container {
        max-width: 600px;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .accordion-container {
        max-width: 1024px;
    }
}

/* .accordion-list:not(:first-child) {
    margin-top: 10px;
} */

.accordion-title {
    background: #D4EBEC;
    border: 1px solid #74C7F0;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    position: relative;
}


/* 開閉ボタン：クローズ状態 */
.accordion-title:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 16px;
    height: 2px;
    width: 15px;
    background: #333;
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
}

.accordion-title:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 16px;
    height: 2px;
    width: 15px;
    background: #333;
    transition: all .3s ease-in-out;
}

/* 開閉ボタン：オープン状態 */
.accordion-title.open:before {
    transform: rotate(180deg);
}

.accordion-title.open:after {
    opacity: 0;
}

/* 回答 */
.accordion-text {
    background: #fff;
    border-left: 1px solid #74C7F0;
    border-right: 1px solid #74C7F0;
    border-bottom: 1px solid #74C7F0;
    display: none;
    padding: 20px 40px;
    display: relative;
}

/* ================================================== */
.qaa {
    margin-bottom: 60px;
}

/* 質問リストのボックス */
.accordion-container {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .accordion-container {
        max-width: 600px;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .accordion-container {
        max-width: 1024px;
    }
}

.accordion-title {
    background: #D4EBEC;
    border: 1px solid #74C7F0;
    cursor: pointer;
    font-size: 16px;
    padding: 20px 40px;
    position: relative;
}

.accordion-title:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 25px;
    height: 2px;
    width: 15px;
    background: #333;
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
}

.accordion-title:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 25px;
    height: 2px;
    width: 15px;
    background: #333;
    transition: all .3s ease-in-out;
}

.accordion-title.open:before {
    transform: rotate(180deg);
}

.accordion-title.open:after {
    opacity: 0;
}

.accordion-text {
    border-left: 1px solid #74C7F0;
    border-right: 1px solid #74C7F0;
    border-bottom: 1px solid #74C7F0;
    display: none;
    padding: 20px 40px;
}
