body {
  box-sizing: border-box;
}

section+section {
  margin-top: 160px;
}

/* スポット情報ボックスの設定 */
.spot_detail_box {
  width: calc(100%*0.82051282);
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  border: 8px solid #96C85C;
  background-color: #fffffc;
}

.spot_date_img_box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* 写真のスライド */
.spot_img_box {
  max-width: 480px;
  margin: 0 auto;
}

.slider6-wrap {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.slider-6 .slick-slide {
  height: 265px;
  object-fit: cover;
  overflow: hidden;
}

.slider-6 .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbs_dots {
  margin: 10px 0 0;
}

.thumbs_list li {
  display: inline-block;
  width: 150px;
  height: 80px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
}

.thumbs_list li.slick-active {
  opacity: 1;
}


/* メイン情報の設定 */
.spot_maindate_box {
  max-width: 480px;
  margin: 0 auto;
}


/* .spot_nameはcommon cssで設定（カードと共通） */

.spot_text {
  margin-bottom: 8px;
}

/* 情報リストの設定 */
.spot_main_info {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.spot_main_info dt {
  width: 35%;
  font-weight: normal;
}

.spot_main_info dd {
  width: 65%;
  line-height: 1.5em;
}

/* マップ設定 */
.spot_map_box {
  width: 100%;
  margin: 16px auto;
}

/* サービスアイコンの設定 */
.spot_icon_box {
  width: 100%;
}

.spot_date_icon {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.spot_service_icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}


/* スポット通過コースのボタン */
.spot_choice_course_box {
  margin-top: 32px;
}

.spot_choice_text {
  text-align: center;
}

.index_course_btnbox {
  width: 100%;
  flex-wrap: wrap;
}

/* スポットタグ */
.spot_tag_box {
  width: 100%;
  height: 24px;
}

.spot_tag {
  display: inline-block;

}

/* 最終更新日 */
.last_update {
  text-align: right;
}
