body {
  box-sizing: border-box;
}

section+section {
  margin-top: 160px;
}

/* ----------------------スポット情報ボックスの設定---------------------- */
.spot_detail_box {
  width: calc(100%*0.82051282);
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  border: 8px solid #96C85C;
  background-color: #fffffc;
}

@media screen and (min-width: 1024px) {
  .spot_detail_box {
    width: 1024px;
  }
}

.spot_date_img_box {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* ----------------------写真のスライド---------------------- */
.spot_img_box {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .spot_img_box {
    max-width: 476px;
  }
}

.slider6-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .slider6-wrap {
    max-width: 476px;
  }
}

.slider-6 .slick-slide {
  object-fit: cover;
  overflow: hidden;
}

.slider-6 .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.thumbs_dots {
  margin: 10px 0 0;
}

.thumbs_list li {
  display: inline-block;
  width: calc(100%/3);
  height: 100px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
}

.thumbs_list li.slick-active {
  opacity: 1;
}


/* ----------------------メイン情報の設定---------------------- */
.spot_maindate_box {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .spot_maindate_box {
    max-width: 476px;
  }
}


/* .spot_nameはcommon cssで設定（カードと共通） */

.spot_text {
  margin-bottom: 8px;
}

/* ----------------------情報リストの設定---------------------- */
/* テーブル */
table, th, td {
  border: solid 1px #000;
  border-radius: 5px;
}

.spot_main_item {
  width: 100%;
  margin-top: 16px;
  border-spacing: 8px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 8px;
}

/* フォント変更 */
th {
  padding: 8px;
  font-weight: normal;
}

td {
  padding: 8px;
  white-space: nowrap;
}



/* ----------------------マップ設定---------------------- */
.box_heading {
  text-align: left;
  margin: 32px auto 16px;
}

@media screen and (min-width: 600px) {
  .box_heading {
    text-align: center;
  }
}

.spot_map_box {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .spot_map_box {
    width: 100%;
    margin: 0 auto;
  }
}

/* ----------------------サービスアイコンの設定---------------------- */
.spot_icon_box {
  width: 100%;
}

.spot_date_icon {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.spot_service_icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}


/* ----------------------スポット通過コースのボタン---------------------- */
.spot_choice_course_box {
  margin: 0 auto;
}

.spot_choice_text {
  text-align: center;
  margin: 32px auto 16px;
}

.spot_course_btnbox {
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* ----------------------スポットタグ---------------------- */

.spot_tag_box {
  margin: 32px auto 16px;
  text-align: center;
}

.spot_tag_box a+a {
  margin-left: 16px;
}

.spot_tag {
  display: inline-block;
  text-align: center;
  padding: 8px;
  background-color: #D4EBEC;
  border-radius: 5px;

}

/* ----------------------最終更新日---------------------- */
.last_update {
  text-align: right;
}
