@charset "UTF-8";

/* 全体の設定 */
.news_card_container {
    width: 320px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 599px) {
    .news_card_container {
        width: 600px;
        height: 280px;
    }
}

@media screen and (min-width: 1024px) {
    .news_card_container {
        width: 1024px;
        height: 280px;
    }
}

/* 記事全体の設定（画面左側） */
.news_card_article {
    width: 100%;
    padding: 16px;
    border: dashed 2px #ef6000;
    background-color: #fffffc;
    margin-bottom: 80px;
}

@media screen and (min-width: 599px) {
    .news_card_article {
        width: 600px;
        height: 280;
    }
}

/* @media screen and (min-width: 1024px) {
    .news_detail_article {
        width: 804px;
        height: 280px;
        margin-bottom: auto;
    }
} */

/* 記事本文の設定 */
.card_article_body {
    margin-bottom: 32px;
}

.card_article_body img {
    margin: 16px auto;
    width: 280px;
    height: 240px;
}

/* 写真の設定
.news_article_body img {
    margin: 16px auto;
    width: 280px;
    height: 240px;
    object-fit: cover;
} */

/*
@media screen and (min-width: 599px) {
    .article_body img {
        width: 560px;
        height: 294px;
    }
} */

/* @media screen and (min-width: 1024px) {
    .article_body img {
        width: 280px;
        height: 240px;
    }
} */

/*-----------------------カード表示の設定----------------------- */
/* スマートフォンの場合は3件表示 */

/* .card_container {
    margin: 0 auto;
} */

.news_card_container:nth-child(n + 4) {
    display: none;
}

/* タブレットの場合は4件表示 */
@media screen and (min-width: 671px) {
    .news_card_container:nth-child(n + 4) {
        display: inline-block;
    }

    .news_card_container:nth-child(n + 5) {
        display: none;
    }
}

/* PCの場合は6件表示 */
@media screen and (min-width: 1024px) {
    .news_card_container:nth-child(n + 5) {
        display: inline-block;
    }

    .news_card_container:nth-child(n + 7) {
        display: none;
    }
}
