/* 見出し */
.about_h3 {
    font-size: 16px;
    font-weight: bold;
    /* margin: 20px 20px 10px 20px; */
    text-align: center;
    padding: 5%;
}

/* なぜこのサイトを～の見出し */
@media screen and (min-width: 1024px) {
    .absolute h3 {
        text-align: left;
        margin-left: 20px;
        /* margin-bottom: -10px; */
        padding: 0%;
    }

    /* 他の見出し */
    .about_h3 {
        font-size: 24px;
        white-space: nowrap;
        padding: 2%;
    }
}

/* 画像 */
.index_howto_img {
    object-fit: cover;
    width: 280px;
    margin: auto 10px;
}

@media screen and (min-width: 1024px) {
    .index_howto_img {
        text-align: left;
        object-fit: cover;
        width: 550px;
        height: 400px;
        margin-top: 20px;
    }
}

/* 各セクションのボックス */
.about_container {
    display: block;
    width: 300px;
    height: 600px;
    background-color: #FFFFFF;
    margin-bottom: 50px;
    margin: 50px auto;
}

/* サイト制作にご協力～のボックス */
.shop_container {
    height: 700px;
}

@media screen and (min-width: 1024px) {
    .about_container {
        width: 1024px;
        height: 500px;
    }
}

/* テキストボックス */
.about_txtbox {
    margin: 15px auto;
}

@media screen and (min-width: 1024px) {
    .about_txtbox {
        margin: auto 0px;

    }
}

@media screen and (min-width: 1024px) {
    .absolute {
        width: 430px;
        right: 0px;
        bottom: 250px;
    }
}

/* 単独テキスト */
.about_txt {
    display: inline-block;
    margin: 10px 20px;
    line-height: 22px;
}

@media screen and (min-width: 1024px) {
    .about_txt {
        text-align: left;
    }
}

/* ショップ一覧 */
.about_thanks_wrap {
    /* margin: 20px 15px 30px; */
    /* margin: auto; */
    height: 208px;
    width: 962px;

}

.about_thanks_table {
    text-align: center;
    height: 208px;

}

.about_table td {
    text-align: start;
    padding: 10px;
    display: block;
}

@media screen and (min-width: 1024px) {
    .about_table td {
        white-space: nowrap;
        text-align: start;

        display: inline-block;
        margin: 5px;
    }

    .about_table tr {
        text-align: start;
    }

    .about_table {
        margin: 20px auto;
    }

}
