/* 共通CSSはコチラ */

/* main要素の下部に60px */
main {
    padding-bottom: 60px;
}

/* デバッグ用border */
.debug {
    border: 1px solid #000;
}

/* メイン背景色 */
body {
    background-color: #f3f0e8;

    /* フォント設定 */
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

/* サイト全体を包むwrap */
.body_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* テーマ青の背景 */
.bg_blue {
    background-color: #005ea7;
}

/* 黄緑の背景 */
.bg_lightgreen {
    background-color: #96c85c;
}

/* オレンジの背景 */
.bg_orange {
    background-color: #ef6000;
}

/* 鮮やかな青の背景 */
.bg_vividblue {
    background-color: #0018ef;
}

/* 赤の背景 */
.bg_red {
    background-color: #f00000;
}

/* 文字色白にする */
.white {
    color: #fff;
}

/* 文字色をテーマ青にする */
.blue {
    color: #005ea7;
}

/* 文字をセンター配置 */
.txt_c {
    text-align: center;
}

ruby rt {
    font-weight: 400;
}

/* ブロック要素にする */
.block {
    display: block;
}

/* img画像のフルード化 */
/* 全部に適用しても良ければ.を取ります */
.img {
    border: 0;
    max-width: 100%;
    height: auto;
}

/* 位置を固定する */
.fix {
    position: fixed;
}

/* 文字コンテンツの位置を真ん中に */
.contents {
    text-align: center;
    /* margin: auto; */
}

/* トピック間のマージン */
.m_top160 {
    margin-top: 160px;
}

.m_bottom40 {
    margin-bottom: 40px;
}

/* marginをauto */
.m_auto {
    margin: auto;
}

/* 親要素にflex */
.flex {
    display: flex;
}

/* flexしたアイテムを中央ぞろえ */
.align_items_c {
    align-items: center;
}

/* flexしたものを主軸方向等間隔に並べる*/
.between {
    justify-content: space-between;
}

/* flexしたものを主軸方向中央に整列 */
.just_center {
    justify-content: center;
}

/* flexしたものを折り返す */
.f_wrap {
    flex-wrap: wrap;
}

/* flexしたものを縦並びに */
.column {
    flex-direction: column;
}

/* 上下32,左右16の間隔 */
.gap32_16 {
    gap: 32px 16px;
}

/* relative */
.relative {
    position: relative;
}

/* absolute */
.absolute {
    position: absolute;
}

/* ----見出し(最初に来るh2部分）の設定--------------*/
.headline {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

/* ---見出しルビの設定------- */
.headline rt {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

/* あしらいイラスト関係 */

/* あしらい（PC）非表示 */
.img_pc_only {
    display: none;
}

/* 人のあしらい（スマホ） */
.common_img_sp {
    margin: 32px;
    object-fit: cover;
    width: 250px;
    height: 267px;
}

/* ----------下層ページキービジュアル設定---------- */
.key_bg_under_img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

/* スクリーンサイズが600px以上の場合(デスクトップ)に適用*/
@media screen and (min-width: 600px) {
    .key_bg_under_img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.key_bg_under {
    margin-bottom: 32px;
    position: relative;
    /* top: -100px; */
}

/* 消して大丈夫でした */
/* スクリーンサイズが600px以上の場合(デスクトップ)に適用*/
/* @media screen and (min-width: 600px) {
    .key_bg_under {
        margin-bottom: 0;
    }
} */

/* ----------パンくずリスト設定---------- */
/* .bradcrumbs {
    display: none;
} */

/* リストはTB以上で表示 */
/* スクリーンサイズが600px以上の場合(タブレット)に適用する○○ */
/* @media screen and (min-width: 600px) {
    .bradcrumbs {
        display: block;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 32px;
    }
} */

/* ---------------------------------------------- */

/* スクリーンサイズが600px以上の場合(タブレット)に適用する○○ */
@media screen and (min-width: 600px) {}

/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用する○○ */
@media screen and (min-width: 1024px) {}

/* moreボタン設定 */
.common_btn {
    font-size: 16px;
    width: 240px;
    height: 60px;
    background: #fff;
    box-shadow: 8px 8px #ef6000;
    border: 2px solid #005ea7;
    text-align: center;
    line-height: 60px;
    position: relative;
    margin: auto;
    transition: 0.25s;
}

.common_btn:hover {
    transform: translate3d(8px, 8px, 0);
    box-shadow: none;
}

.common_btn_margin {
    margin: 32px auto 60px;
}

/* ---------------------------- */
/* -------- カードの設定 -------- */
/* ---------------------------- */

/* カードそのものの設定 */
.spot_card {
    width: 320px;
    height: 390px;
    margin: 0 auto;
}

.spot_item {
    width: 320px;
    height: 395px;
    padding: 20px;
    margin: 0 auto;
    border: dashed 2px #ef6000;
    border-radius: 5px;
    background-color: #fffffc;
    transition: all 0.5s ease-in-out;
}

.spot_item::after {
    display: block;
    content: "";
    width: 320px;
    margin: 0 auto;
}


.spot_item:hover {
    transform: scale(1.05);
}

/* カテゴリラベル */
.spot_item_cate {
    width: 48px;
    height: 64px;
    border-radius: 5px 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
}

.spot_item_img {
    width: 280px;
    height: 240px;
    object-fit: cover;
}

.spot_item_name {
    font-weight: bold;
    font-size: 24px;
    margin: 8px auto;
    flex-wrap: wrap;
    text-align: left;
}

.spot_item_info {
    flex-wrap: wrap;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: left;
}

.spot_item_info dt {
    width: 30%;
    font-weight: normal;
}

.spot_item_info dd {
    width: 70%;
    line-height: 1.5em;
}

/* カード一覧の設定 */
.spot_list {
    flex-wrap: wrap;
    gap: 32px;
}

/* --- お気に入りボタン --- */
/* ハートアニメーション */
@keyframes heartAnimation {
    0% {
        /* アイコンサイズをもとのより小さくする */
        transform: scale(0.5);
    }

    10% {
        transform: scale(0.7);
    }

    30% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1.5);
    }

    100% {
        /* もとのサイズに戻す */
        transform: scale(1);
    }
}

.spot_like_icon {
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 2;

    /* safariでのバグ表示回避 */
    transform: translateZ(1px);
}

.LikesIcon-fa-heart {
    font-size: 30px;
}

/* クリックでお気に入りする時のCSS */
.LikesIcon-fa-heart.heart {
    /* heartAnimationアニメーションを200ミリ秒かけて実行する */
    animation: heartAnimation 0.2s;
    /* アイコン色を黒から赤へ変更する */
    color: #e2264d;
}

/* --------------------------- */

/* コースを選ぶボタンリストここから */
.course_top_choice_list li {
    /* デバッグ用 */
    /* border: 1px solid #000; */

    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    margin: 8px;
    border-radius: 50%;
}

.course_top_choice_list a {
    display: block;
    padding: 10px;
}

.course_top_choice_list p {
    font-size: small;
}

/* コースを選ぶボタンリストここまで */

/* 12/7髙瀬追加・男女イラストアニメーション基本設定 */
.animation {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
}
