.contact_wrap {
    width: calc(100%*0.71794872);
    max-width: 1024px;
    margin: 0 auto;
}

.contact_text_top {
    margin-bottom: 16px;
}

.contact_text_bottom {
    margin: 32px 0 32px;
}

.consent_text {
    margin-bottom: 32px;
    text-align: center;
}

.contact_form {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;

}

.form_item {
    padding: 20px;
    background-color: #D4EBEC;
    border: 2px solid #74C7F0
}

.item_req {
    margin-right: 16px;
    padding: 6px;
    background-color: #EF6000;
    color: #fffffc;
    border-radius: 8px;
}

.item_any {
    margin-right: 16px;
    padding: 6px;
    background-color: #fffffc;
    color: #EF6000;
    border: solid 1px #ef6000;
}

.item {
    width: 100%;
    margin: 16px auto 0;
    padding: 8px;
    border-radius: 3px;
    background-color: #fffffc;
}

.contact_submit_btn {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.submit_btn {
    margin-top: 32px;
}
