/* 波のアニメーション上ここから */
.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 179.86666666666667,117.6 359.73333333333335,135.2 538,129 C 716.2666666666667,122.8 892.9333333333334,92.8 1043,84 C 1193.0666666666666,75.2 1316.5333333333333,87.6 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 147.59999999999997,86.8 295.19999999999993,73.6 441,66 C 586.8000000000001,58.4 730.8,56.400000000000006 897,63 C 1063.2,69.6 1251.6,84.8 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 158,117.19999999999999 316,134.39999999999998 492,131 C 668,127.60000000000001 862,103.6 1023,95 C 1184,86.4 1312,93.2 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 174.40000000000003,91.86666666666667 348.80000000000007,83.73333333333333 520,80 C 691.1999999999999,76.26666666666667 859.2,76.93333333333334 1012,81 C 1164.8,85.06666666666666 1302.4,92.53333333333333 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 179.86666666666667,117.6 359.73333333333335,135.2 538,129 C 716.2666666666667,122.8 892.9333333333334,92.8 1043,84 C 1193.0666666666666,75.2 1316.5333333333333,87.6 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 103.19999999999999,204.53333333333333 206.39999999999998,209.06666666666666 395,205 C 583.6,200.93333333333334 857.6000000000001,188.26666666666668 1046,186 C 1234.3999999999999,183.73333333333332 1337.1999999999998,191.86666666666667 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 170.8,183.60000000000002 341.6,167.20000000000002 489,175 C 636.4,182.79999999999998 760.4000000000001,214.8 915,223 C 1069.6,231.2 1254.8,215.6 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 170.93333333333334,184.8 341.8666666666667,169.6 516,165 C 690.1333333333333,160.4 867.4666666666667,166.39999999999998 1022,174 C 1176.5333333333333,181.60000000000002 1308.2666666666667,190.8 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 162.2666666666667,182.93333333333334 324.5333333333334,165.86666666666665 502,164 C 679.4666666666666,162.13333333333335 872.1333333333334,175.46666666666667 1031,184 C 1189.8666666666666,192.53333333333333 1314.9333333333334,196.26666666666665 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 103.19999999999999,204.53333333333333 206.39999999999998,209.06666666666666 395,205 C 583.6,200.93333333333334 857.6000000000001,188.26666666666668 1046,186 C 1234.3999999999999,183.73333333333332 1337.1999999999998,191.86666666666667 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}

.path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 150.66666666666663,294.93333333333334 301.33333333333326,289.8666666666667 466,289 C 630.6666666666667,288.1333333333333 809.3333333333335,291.4666666666667 974,294 C 1138.6666666666665,296.5333333333333 1289.3333333333333,298.26666666666665 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 188.40000000000003,279.33333333333337 376.80000000000007,258.6666666666667 518,266 C 659.1999999999999,273.3333333333333 753.2,308.66666666666663 899,319 C 1044.8,329.33333333333337 1242.4,314.6666666666667 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 193.59999999999997,310.4 387.19999999999993,320.8 545,325 C 702.8000000000001,329.2 824.8,327.2 968,322 C 1111.2,316.8 1275.6,308.4 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 126.80000000000001,319.4666666666667 253.60000000000002,338.93333333333334 402,335 C 550.4,331.06666666666666 720.3999999999999,303.73333333333335 897,294 C 1073.6000000000001,284.26666666666665 1256.8000000000002,292.1333333333333 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 150.66666666666663,294.93333333333334 301.33333333333326,289.8666666666667 466,289 C 630.6666666666667,288.1333333333333 809.3333333333335,291.4666666666667 974,294 C 1138.6666666666665,296.5333333333333 1289.3333333333333,298.26666666666665 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
}

/* 波のアニメーション上ここまで */

/* 波のアニメーション下ここから */
.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 122.17224880382778,112.18181818181819 244.34449760765557,124.36363636363636 325,126 C 405.65550239234443,127.63636363636364 444.7942583732057,118.72727272727272 526,103 C 607.2057416267943,87.27272727272728 730.4784688995217,64.72727272727272 834,67 C 937.5215311004783,69.27272727272728 1021.291866028708,96.36363636363636 1119,106 C 1216.708133971292,115.63636363636364 1328.354066985646,107.81818181818181 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 76.62200956937798,89.90430622009569 153.24401913875596,79.80861244019138 246,84 C 338.75598086124404,88.19138755980862 447.6459330143541,106.66985645933013 551,118 C 654.3540669856459,129.33014354066987 752.1722488038276,133.51196172248805 851,134 C 949.8277511961724,134.48803827751195 1049.6650717703349,131.28229665071768 1148,125 C 1246.3349282296651,118.7177033492823 1343.1674641148325,109.35885167464116 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 72.07655502392345,93.19617224880383 144.1531100478469,86.39234449760765 248,88 C 351.8468899521531,89.60765550239235 487.46411483253587,99.6267942583732 601,101 C 714.5358851674641,102.3732057416268 805.9904306220094,95.10047846889952 890,89 C 974.0095693779906,82.89952153110048 1050.5741626794259,77.97129186602872 1141,80 C 1231.4258373205741,82.02870813397128 1335.712918660287,91.01435406698565 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 91.69377990430621,108.2488038277512 183.38755980861242,116.49760765550239 269,118 C 354.6124401913876,119.50239234449761 434.1435406698564,114.25837320574162 541,115 C 647.8564593301436,115.74162679425838 782.0382775119617,122.4688995215311 897,122 C 1011.9617224880383,121.5311004784689 1107.7033492822966,113.86602870813398 1195,109 C 1282.2966507177034,104.13397129186602 1361.1483253588517,102.06698564593302 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 122.17224880382778,112.18181818181819 244.34449760765557,124.36363636363636 325,126 C 405.65550239234443,127.63636363636364 444.7942583732057,118.72727272727272 526,103 C 607.2057416267943,87.27272727272728 730.4784688995217,64.72727272727272 834,67 C 937.5215311004783,69.27272727272728 1021.291866028708,96.36363636363636 1119,106 C 1216.708133971292,115.63636363636364 1328.354066985646,107.81818181818181 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 98.01913875598089,202.87081339712918 196.03827751196178,205.74162679425837 293,201 C 389.9617224880382,196.25837320574163 485.86602870813397,183.9043062200957 571,177 C 656.133971291866,170.0956937799043 730.4976076555025,168.64114832535887 826,183 C 921.5023923444975,197.35885167464113 1038.1435406698565,227.5311004784689 1144,233 C 1249.8564593301435,238.4688995215311 1344.9282296650717,219.23444976076556 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 110.62200956937798,203.2535885167464 221.24401913875596,206.5071770334928 311,202 C 400.75598086124404,197.4928229665072 469.6459330143541,185.22488038277513 570,183 C 670.3540669856459,180.77511961722487 802.1722488038278,188.5933014354067 895,200 C 987.8277511961722,211.4066985645933 1041.665071770335,226.4019138755981 1126,227 C 1210.334928229665,227.5980861244019 1325.1674641148325,213.79904306220095 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 67.92344497607655,203.2535885167464 135.8468899521531,206.5071770334928 235,204 C 334.1531100478469,201.4928229665072 464.53588516746413,193.22488038277513 582,202 C 699.4641148325359,210.77511961722487 804.0095693779904,236.5933014354067 896,227 C 987.9904306220096,217.4066985645933 1067.4258373205741,172.4019138755981 1156,162 C 1244.5741626794259,151.5980861244019 1342.287081339713,175.79904306220095 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 96.07655502392345,198.3732057416268 192.1531100478469,196.74641148325358 281,192 C 369.8468899521531,187.25358851674642 451.464114832536,179.38755980861248 538,181 C 624.535885167464,182.61244019138752 715.9904306220094,193.7033492822966 832,203 C 948.0095693779906,212.2966507177034 1088.5741626794259,219.79904306220098 1194,219 C 1299.4258373205741,218.20095693779902 1369.712918660287,209.1004784688995 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 98.01913875598089,202.87081339712918 196.03827751196178,205.74162679425837 293,201 C 389.9617224880382,196.25837320574163 485.86602870813397,183.9043062200957 571,177 C 656.133971291866,170.0956937799043 730.4976076555025,168.64114832535887 826,183 C 921.5023923444975,197.35885167464113 1038.1435406698565,227.5311004784689 1144,233 C 1249.8564593301435,238.4688995215311 1344.9282296650717,219.23444976076556 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}

.path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 70.74641148325358,280.1913875598086 141.49282296650716,260.38277511961724 255,263 C 368.50717703349284,265.61722488038276 524.775119617225,290.6602870813397 622,304 C 719.224880382775,317.3397129186603 757.4066985645933,318.97607655502395 826,318 C 894.5933014354067,317.02392344497605 993.598086124402,313.4354066985646 1101,310 C 1208.401913875598,306.5645933014354 1324.200956937799,303.28229665071774 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 65.59808612440187,315.1961722488038 131.19617224880375,330.39234449760767 236,323 C 340.80382775119625,315.60765550239233 484.8133971291867,285.62679425837325 602,283 C 719.1866028708133,280.37320574162675 809.5502392344497,305.1004784688995 883,307 C 956.4497607655503,308.8995215311005 1012.9856459330144,287.9712918660287 1103,283 C 1193.0143540669856,278.0287081339713 1316.5071770334928,289.0143540669857 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 81.43540669856458,295.8755980861244 162.87081339712915,291.7511961722488 271,298 C 379.12918660287085,304.2488038277512 513.9521531100479,320.8708133971292 605,314 C 696.0478468899521,307.1291866028708 743.3205741626793,276.7655502392344 836,280 C 928.6794258373207,283.2344497607656 1066.7655502392345,320.0669856459331 1175,329 C 1283.2344497607655,337.9330143540669 1361.6172248803828,318.96650717703346 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 115.89473684210526,307.6842105263158 231.78947368421052,315.36842105263156 322,313 C 412.2105263157895,310.63157894736844 476.7368421052631,298.2105263157895 561,295 C 645.2631578947369,291.7894736842105 749.263157894737,297.7894736842106 858,295 C 966.736842105263,292.2105263157894 1080.2105263157894,280.6315789473684 1178,280 C 1275.7894736842106,279.3684210526316 1357.8947368421054,289.68421052631584 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 70.74641148325358,280.1913875598086 141.49282296650716,260.38277511961724 255,263 C 368.50717703349284,265.61722488038276 524.775119617225,290.6602870813397 622,304 C 719.224880382775,317.3397129186603 757.4066985645933,318.97607655502395 826,318 C 894.5933014354067,317.02392344497605 993.598086124402,313.4354066985646 1101,310 C 1208.401913875598,306.5645933014354 1324.200956937799,303.28229665071774 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
}

/* 波のアニメーション下ここまで */
