/* 共通CSSはコチラ */

/* デバッグ用border */
.debug {
	border: 1px solid #000;
}

/* メイン背景色 */
body {
	background-color: #F3F0E8;
}

/* 文字色白にする */
.white {
	color: #fff;
}

/* ブロック要素にする */
.block {
	display: block;
}

/* img画像のフルード化 */
/* 全部に適用しても良ければ.を取ります */
.img {
	border: 0;
	max-width: 100%;
	height: auto;
}

/* 位置を固定する */
.fix {
	position: fixed;
}

/* 文字コンテンツの位置を真ん中に */
.contents {
	text-align: center;
	/* margin: auto; */
}

/* marginをauto */
.m_auto {
	margin: auto;
}

/* 親要素にflex */
.flex {
	display: flex;
}

/* flexしたアイテムを中央ぞろえ */
.align_items_c {
	align-items: center;
}

/* flexしたものを */


/* flexしたものを縦並びに */
.column {
	flex-direction: column;

}

/* 上下32,左右16の間隔 */
.gap32_16 {
	gap: 32px 16px;
}

/* relative */
.relative {
	position: relative;
}

/* absolute */
.absolute {
	position: absolute;
}





/* ----見出し(最初に来るh2部分）の設定--------------*/
.headline {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}

/* ---見出しルビの設定------- */
.headline rt {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

/* ---------------------------------------------- */

/* スクリーンサイズが600px以上の場合(タブレット)に適用する○○ */
@media screen and (min-width: 599px) {}

/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用する○○ */
@media screen and (min-width: 1024px) {}


/* ---------カードの設定---------*/
.spot_item {
	width: 320px;
	height: 480px;
	padding: 18px;
	border: dashed 2px #EF6000;
	background-color: #FFFFFC;
}

.spot_item_cate {
	position: absolute;
	left: 0;
	top: 0;
}

.spot_item_img {
	width: 280px;
	height: 240px;
	object-fit: cover;
}

.spot_item_name {
	font-weight: bold;
	font-size: 24px;
	margin: 8px auto;
	flex-wrap: wrap;
}

.spot_item_info {
	flex-wrap: wrap;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 20px;
}

.spot_item_info dt {
	width: 30%;
	font-weight: normal;
}

.spot_item_info dd {
	width: 70%;
}

/* --------------------------- */
