/* 見出しの設定（共通CSSに同じものがあるので削除予定） */
.headline {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}
.headline rt {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
/*------------------- コース選択時ボタンの設定----------- */
.course_nav_list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1024px;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
}
/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用*/
@media screen and (min-width: 1024px) {
	.course_nav_list {
		height: 80px;
	}
}

.course_nav {
	font-size: 24px;
	font-weight: bold;
	width: 25%;
	color: #fff;
	border-radius: 8px 8px 0 0;
	text-align: center;
	position: relative;
	box-sizing: border-box;
}
.beginner {
	background-color: #96c85c;
	border: solid 4px #96c85c;
}
.short {
	background-color: #ef6000;
	border: solid 4px #ef6000;
}
.middle {
	background-color: #0018ef;
	border: solid 4px #0018ef;
}
.long {
	background-color: #f00000;
	border: solid 4px #f00000;
}

.course_nav_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
/*------------------- 地図のサイズの設定---- */
.iframe_wrapper {
	position: relative;
	width: 100%;
	max-width: 1024px;
	height: 558px;
	margin-left: auto;
	margin-right: auto;
}
.iframe_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* スクリーンサイズが600px以上の場合(タブレット)に適用する○○ */
@media screen and (min-width: 599px) {
}
/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用する○○ */
@media screen and (min-width: 1024px) {
}

/* 地図上アイコンの説明 */
.icon_list {
	background-color: #d4ebec;
	border: solid 4px #74c7f0;
	box-sizing: border-box;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
