/* 見出しの設定（共通CSSに同じものがあるので削除予定） */
.body {
	font-size: 16px;
}
.headline {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}
.headline rt {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
/*------------------- コース選択時ボタンの設定----------- */
.course_nav_list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1024px;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
}
/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用*/
@media screen and (min-width: 1024px) {
	.course_nav_list {
		height: 80px;
	}
}

.course_nav {
	font-size: 24px;
	font-weight: bold;
	width: 25%;
	color: #fff;
	border-radius: 8px 8px 0 0;
	text-align: center;
	position: relative;
	box-sizing: border-box;
}
.beginner {
	background-color: #96c85c;
	border: solid 4px #96c85c;
}
.short {
	background-color: #ef6000;
	border: solid 4px #ef6000;
}
.middle {
	background-color: #0018ef;
	border: solid 4px #0018ef;
}
.long {
	background-color: #f00000;
	border: solid 4px #f00000;
}

.course_nav_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
/*------------------- 地図のサイズの設定---- */
.iframe_wrapper {
	position: relative;
	width: 100%;
	max-width: 1024px;
	height: 558px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
.iframe_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* スクリーンサイズが600px以上の場合(タブレット)に適用する○○ */
@media screen and (min-width: 599px) {
}
/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用する○○ */
@media screen and (min-width: 1024px) {
}

/* 地図上アイコンの説明 */
.icon_list {
	background-color: #d4ebec;
	border: solid 4px #74c7f0;
	box-sizing: border-box;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.dl-btn {
	margin-left: auto;
	margin-right: auto;
}

/*--------- コース情報 -------------------------------------*/

/* コース情報を囲う色付きの部分の設定 */
.info_wrap {
	padding-top: 80px;
	width: 320px;
	height: 560px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 1024px) {
	.info_wrap {
		padding-top: 48px;
		height: 320px;
		width: 1024px;
	}
}
/* 後ろの茶色の装飾 */
.info_bg_deco {
	background-color: #e1d6b8;
	position: absolute;
	left: 0;
	right: 0;
	transform: rotateZ(3deg);
}
/* 前の白い部分 */
.info_main {
	background-color: #fff;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	column-gap: 64px;
}

/* .course_info_pic_woman {
	display: none;
}
@media screen and (min-width: 1024px) {
	.course_info_pic_woman {
	display: inline-block;
	position: absolute;
	top: -20px;
}
.course_info_pic_man {
	position: absolute;
	bottom: 0;
	left: -30px;
} */

/* テキストが入る部分の設定 */
.info_content {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	line-height: 2rem;
}

.info_list {
	display: flex;
	flex-wrap: wrap;
}
.info_item {
	width: 50%;
	font-weight: bold;
}

.comment_text {
	line-height: 1.5rem;
	padding-bottom: 40px;
}

/* 右下の注釈部分の設定 */
.annotation {
	position: absolute;
	right: 8px;
	bottom: 8px;
	font-size: 12px;
}
/* ----------------------------------------- */

.course_spot_cate_list {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
@media screen and (min-width: 1024px) {
	.course_spot_cate_list {
		width: 1024px;
	}
}
.course_spot_cate_item + .course_spot_cate_item {
	margin: 40px;
}

.course_spot_cate_headline {
	position: relative;
	margin-bottom: 40px;
	font-size: 32px;
	font-weight: bold;
	height: 48px;
	width: 320px;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	line-height: 48px;
	left: 50%;
	transform: translate(-50%);
}
.course_spot_cate_headline:before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 48px;
	position: absolute;
	left: 0;
}
.course_spot_cate_headline:after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 48px;
	position: absolute;
	right: -1px;
}

.eat {
	border: solid 1px #fdacac;
}
.eat:before {
	background: #fdacac;
}
.eat:after {
	background: #fdacac;
}

.enjoy {
	border: solid 1px #ffe55b;
}
.enjoy:before {
	background: #ffe55b;
}
.enjoy:after {
	background: #ffe55b;
}

.shopping {
	border: solid 1px #c0db8c;
}
.shopping:before {
	background: #c0db8c;
}
.shopping:after {
	background: #c0db8c;
}

.cyclespot {
	border: solid 1px #d391f2;
}
.cyclespot:before {
	background: #d391f2;
}
.cyclespot:after {
	background: #d391f2;
}

.spot_list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

section + section {
	margin-top: 160px;
}
