/* index本体 */
main {}

/* BgSwitcherで変化するキービジュアル */
.bg-slider {
    width: 100%;
    height: 100vh;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}


/* sectionキービジュアル */
/* .key_visual {} */

/* キービジュアルの動画 */
/* .key_bg_movie {
    width: 100vw;
    height: 100%;
    background-position: center center no-repeat;
    align-items: center;
    justify-content: center;
    background-size: cover;
} */


/* キーメッセージ枠１（位置用） */
.key_circle {
    /* justify-content: center; */
    /* display: flex; */
    width: 300px;
    /* height: 300px; */
    /* background-color: rgba(158, 128, 128, 0.6); */
    /* background-position: center center no-repeat; */
}

/* キーメッセージ枠２（枠内メッセージ用） */
.key_word {
    justify-content: center;
}

/* キーメッセージロゴ */
.key_logo {
    font-size: 3em;
    line-height: 1em;
    font-family: "Josefin Sans", sans-serif;
    /* text-align: center; */
    background-position: left;
}

/* h2キービジュアルの見出し（RIDE ON THE UZU WAVE）*/
/* .key_msg {
    width: 640px;
    height: 500px;
    /* 透明白ふち文字 */
/* -webkit-text-stroke: 1px #fff; */
/* text-stroke: 1px #fff; */
/* color: rgba(0, 0, 0, 0); */

/* font-size: 20lem; */
/*
    position: absolute;
    top: 240px;
    left: 32px; */
/* transform: rotate(-30deg); */
/* } */

/* キービジュアルのイラスト */
.key_man {
    background-position: bottom left;
    /* position: absolute;
    top: 700px;
    left: 208px; */
}

/* sectionニュース */
.news {
    color: #005EA7;
}

/* h2ニュースの見出し */
.news_top {}

/* ulニュースの配列 */
.news_top_list {}

/* liニュースinfo */
.news_top_item {}

/* ニュースのカテゴリー */
.news_top_item_cate {}

/* ニュースの日付 */
.news_top_item_data {}

/* ニュースのヘッドライン */
.news_top_item_txt {}

/* ニュース一覧へボタン */
.news_top_btn {
    color: #fff;
    background-color: #005EA7;
}

/* sectionサイクリングについて */
.howto {
    height: 100vh;
}

.howto_bg_box {
    background-color: #005EA7;
    text-align: center;
}

/* h2サイクリングについて見出し */
.howto_top {}

/* サイクリングについてのテキスト */
.howto_top_txt {
    text-align: center;
}

/* サイクリングについてもっと読むボタン */
.howto_top_btn {}

/* サイクリングについての画像 */
.howto_top_img {}

/* sectionコース */
.course {}

/* h2コースの見出し */
/* .course_top {} */

/* コースのコンテナ */
.course_top_container {}

/* コースマップの画像 */
.map_top_img

/* 「コースを選ぶ」の一文 */
.course_top_choice {}

/* ulコースを選ぶリスト */
.course_top_choice_list {}

/* コース選択ボタンimg */
.course_top_choice_btn {}

/* .course_top_choice_cate
.course_top_choice_km */

/* sectionスポット */
.spot {}

/* ここに動く波の上部が入ります */

/* PICK UPの文字あしらい */
.pickup {}

/* h2スポットの見出し */
.spot_top {}

/* スポットカードのコンテナ */
/* .card_container {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */

/* ulスポットリスト */
.spot_list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* liスポットカード */
.spot_item {
    width: 320px;
    height: 400px;
}

/* カードの中の写真 */
.spot_item_img {
    width: 280px;
    height: 240px;
}

/* カードのスポット名 */
.spot_item_name {}

/* dlカードのスポット情報 */
.spot_item_info {}

/* スポットのもっと見るボタン */
.spot_top_btn {}

/* sectionインスタ */
.insta {}

/* アイコンフォントかimgでインスタロゴ */
.insta_logo {}

/* h2 インスタの見出し*/
.insta_top {}
