/* index本体 */
main {}


/* moreボタンのスタイルここから */

.more_btn {
    margin: 48px auto auto auto;
}

/* 検索ボタン装飾 */
.btn_inner {
    width: 240px;
    height: 56px;
    background: #fff;
    box-shadow: 4px 4px #EF6000;
    border: 3px solid #005EA7;
    position: relative;
}

/* 検索ボタンのテキスト */
.top_more_btn {
    color: #FFFFFC;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* moreボタンのスタイルここまで */



/* ---------------section：キービジュアル---------------  */
/* キービジュアルの箱 */
.index_key_visual {
    width: 100%;
    height: 100%;
}

/* キービジュアル画像 */
.key_img {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    object-fit: cover;
}

/* キービジュ：装飾文字 */
.key_msg {
    font-family: 'Arvo', serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 64px;
    -webkit-text-stroke: 2px #fff;
    text-stroke: 1px #fff;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    position: absolute;
    top: 300px;
    left: 10px;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .key_msg {
        font-size: 120px;
        top: 240px;
        left: 32px;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .key_msg {
        font-size: 144px;
        top: 240px;
        left: 32px;
    }
}

/* キービジュ：装飾画像 */
.key_man {
    width: 120px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 20px;
}

/* TB表示 */
@media screen and (min-width: 600px) {
    .key_man {
        width: 190px;
        left: 80px;
    }
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .key_man {
        width: 265px;
        left: 100px;
    }
}

/* ---------------section：ニュース---------------  */

/* ニュース全体ボックス */
.index_news {
    width: 100%;
    height: 140px;
    justify-content: space-between;
    background-color: #F3F0E8;
    color: #005EA7;
}

/* PC表示 */
@media screen and (min-width: 930px) {
    .index_news {
        width: 650px;
        height: 160px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/* 見出し */
.index_news h2 {
    width: 30%;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    -webkit-text-stroke: 1px #005EA7;
    text-stroke: 1px #005EA7;
    color: rgba(0, 0, 0, 0);
    text-align: left;
}

/* PC表示 */
@media screen and (min-width: 600px) {
    .index_news h2 {
        font-size: 48px;
    }
}

/* ニュースコンテンツ全部入り */
.index_news_content {
    width: calc(100%*0.83589744);
    margin: 10px;
    justify-content: space-between;
}

.index_news_content h2+article {
    margin-left: 16px;
}

/* PC表示 */
@media screen and (min-width: 1024px) {
    .index_news {
        width: 100%;
        max-width: 650px;
        height: 156px;
    }
}

/* ニュース記事単体 */
.index_news_article_box {
    width: 70%;
    margin-left: 16px;
}

.index_news_article_box article+article {
    margin-top: 16px;
}


/* カテゴリタグ＋日付ボックス */
.index_news_meta {
    width: 100%;
    justify-content: space-between;
}

/* カテゴリ */
.index_news_categories {
    font-weight: 900;
}

/* ニュースタイトル */
.index_news_title {
    margin-top: 8px;
}


/* 一覧へボタン */
.index_news_btn {
    width: calc(100%*0.16410256);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #005EA7;
    color: #FFFFFC;
}

/* ---------------section：サイクリングについて---------------  */

/* テキストボックス */
.index_howto_txtbox {
    width: 100%;
    padding: 32px auto;
    margin: ;
    background-color: #005EA7;
}

/* キャプション */
.index_howto_txt {
    width: 320px;
    margin: 0 auto;
    text-align: left;
}


/* 写真ボックス */
.index_howto_imgbox {
    width: 100%;
}

.howto_img_1 {
    width: 100%;
    height: 260px;
    object-fit: cover;
}


/* ---------------section：コースマップ---------------  */
.course {}

/* h2コースの見出し */
/* .course_top {} */

/* コースのコンテナ */
.course_top_container {}

/* コースマップの画像 */
.map_top_img {
    border: 10px solid #E1D6B8;
}

/* マップ下のコースチョイスコンテナ */
.course_top_choice_container {
    background-color: #fff;
    padding: 32px;
}

/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用する○○ */
/* @media screen and (min-width: 1024px) {
    .course_top_choice_container {
        margin: 100px;
    }
} */


/* コースを選ぶの枠と文字設定 */
.course_top_ribbon {
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 2rem;
    border-top: 2px dashed;
    border-bottom: 2px dashed;
    background-color: #D4EBEC;
    color: #005EA7;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.course_top_ribbon::before,
.course_top_ribbon::after {
    position: absolute;
    content: '';
    top: 0;
    width: 0px;
    height: 0px;
    border-color: transparent #fff;
    border-style: solid;
}

.course_top_ribbon::before {
    left: 0;
    border-width: 25px 0px 25px 10px;
}

.course_top_ribbon::after {
    right: 0;
    border-width: 25px 10px 25px 0px;
}


/* ulコースを選ぶリスト */
.course_top_choice_list li {
    /* デバッグ用 */
    /* border: 1px solid #000; */

    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    margin: 8px;
    border-radius: 50%;
}

.course_top_choice_list a {
    display: block;
    padding: 10px;
}

.course_top_choice_list p {
    font-size: small;
}

/* .course_top_choice_cate
.course_top_choice_km */

/* ---------------section：スポット---------------  */
.spot {
    background-color: #D4EBEC;
}

/* ---------------波アニメーション---------------  */
/* ここに動く波の上部が入ります */

/* 動かない波の仕切り */
.container {
    position: relative;
    background: #D4EBEC;
    height: 60px;

}

.wave {
    position: absolute;
    height: 150px;
    width: 100%;
    background: #D4EBEC;
    bottom: 0;
}

.wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width: 55%;
    height: 109%;
    background-color: #f3f0e8;
    right: -1.5%;
    top: 60%;
}

.wave::after {
    width: 55%;
    height: 100%;
    background-color: #D4EBEC;
    left: -1.5%;
    top: 40%;
}

/* PICK UPの文字あしらい */
.pickup {
    color: #EF6000;
    font-size: 32px;
    font-weight: bold;
}

/* h2スポットの見出し */
.spot_top {}

/* スポットカードのコンテナ */
/* .card_container {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */

/* ulスポットリスト */
.spot_list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* liスポットカード */
.spot_item {
    width: 320px;
    height: 400px;
}

/* カードの中の写真 */
.spot_item_img {
    width: 280px;
    height: 240px;
}

/* カードのスポット名 */
.spot_item_name {}

/* dlカードのスポット情報 */
.spot_item_info {}

/* スポットのもっと見るボタン */
.spot_top_btn {}

/* ---------------section：インスタグラム---------------  */
.insta {}

/* imgでインスタロゴ */
.insta_logo {
    width: 100px;
    height: 100px;
    flex-basis: 100%;
}

.insta_slide {}

/* h2 インスタの見出し*/
.insta_top {}
