/* index本体 */
main {}


/* moreボタンのスタイルここから */

.more_btn {
    margin: 48px auto auto auto;
}

/* 検索ボタン装飾 */
.btn_inner {
    width: 240px;
    height: 56px;
    background: #fff;
    box-shadow: 4px 4px #EF6000;
    border: 3px solid #005EA7;
    position: relative;
}

/* 検索ボタンのテキスト */
.top_more_btn {
    color: #FFFFFC;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* moreボタンのスタイルここまで */

/* BgSwitcherで変化するキービジュアル */
.bg-slider {
    width: 100%;
    height: 100vh;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}


/* sectionキービジュアル */
/* .key_visual {} */

/* キービジュアルの動画 */
/* .key_bg_movie {
    width: 100vw;
    height: 100%;
    background-position: center center no-repeat;
    align-items: center;
    justify-content: center;
    background-size: cover;
} */

/* キービジュアル全面用コンテナ */
/* .key_top_container {
    margin: auto auto 0 0;

} */

/* キーメッセージ枠１（位置用） */
.key_msg_box {
    /* justify-content: center; */
    /* display: flex; */
    width: 100%;
    height: 100%;
    /* background-color: rgba(158, 128, 128, 0.6); */
    /* background-position: center center no-repeat; */
}

/* キーメッセージ枠２（枠内メッセージ用） */
.key_word {
    justify-content: center;
}

/* キーメッセージロゴ */
.key_logo {
    font-size: 3em;
    line-height: 1em;
    font-family: "Josefin Sans", sans-serif;
    /* text-align: center; */
    background-position: left;
}

/* h2キービジュアルの見出し（RIDE ON THE UZU WAVE）*/
.key_msg {
    /* width: 640px;
    height: 500px; */
    /* 透明白ふち文字 */
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}

/* font-size: 20lem; */
/*
    position: absolute;
    top: 240px;
    left: 32px; */
/* transform: rotate(-30deg); */
/* } */

/* キービジュアルのイラスト */
.key_man {
    justify-content: flex-end;
    /* position: absolute;
    top: 700px;
    left: 208px; */
}

/* sectionニュース */
.news {
    color: #005EA7;
}

/* h2ニュースの見出し */
.news_top {}

/* ulニュースの配列 */
.news_top_list {}

/* liニュースinfo */
.news_top_item {}

/* ニュースのカテゴリー */
.news_top_item_cate {}

/* ニュースの日付 */
.news_top_item_data {}

/* ニュースのヘッドライン */
.news_top_item_txt {}

/* ニュース一覧へボタン */
.news_top_btn li {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news_top_btn a {
    display: block;
}

/* sectionサイクリングについて */
.howto {
    height: 100vh;
}

.howto_bg_box {
    background-color: #005EA7;
    text-align: center;
}

/* h2サイクリングについて見出し */
.howto_top {}

/* サイクリングについてのテキスト */
.howto_top_txt {
    text-align: center;
}

/* サイクリングについてもっと読むボタン */
.howto_top_btn {}

/* サイクリングについての画像 */
.howto_top_img {}

/* sectionコース */
.course {}

/* h2コースの見出し */
/* .course_top {} */

/* コースのコンテナ */
.course_top_container {}

/* コースマップの画像 */
.map_top_img {
    border: 10px solid #E1D6B8;
}

/* マップ下のコースチョイスコンテナ */
.course_top_choice_container {
    background-color: #fff;
}

/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用する○○ */
/* @media screen and (min-width: 1024px) {
    .course_top_choice_container {
        margin: 100px;
    }
} */


/* コースを選ぶの枠と文字設定 */
.course_top_choice {
    font-size: 16px;
    width: 240px;
    height: 60px;
    background: #fff;
    border: 2px solid #005ea7;
    text-align: center;
    line-height: 60px;
    position: relative;
    margin: auto;
}

/* ulコースを選ぶリスト */
.course_top_choice_list li {
    /* デバッグ用 */
    /* border: 1px solid #000; */

    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    margin: 8px;
    border-radius: 50%;
}

.course_top_choice_list a {
    display: block;
    padding: 10px;
}

.course_top_choice_list p {
    font-size: small;
}

/* コース選択ボタンimg */
.course_top_choice_btn {}

/* .course_top_choice_cate
.course_top_choice_km */

/* sectionスポット */
.spot {
    background-color: #D4EBEC;
}

/* ここに動く波の上部が入ります */

/* PICK UPの文字あしらい */
.pickup {
    color: #EF6000;
    font-size: 32px;
    font-weight: bold;
}

/* h2スポットの見出し */
.spot_top {}

/* スポットカードのコンテナ */
/* .card_container {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */

/* ulスポットリスト */
.spot_list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* liスポットカード */
.spot_item {
    width: 320px;
    height: 400px;
}

/* カードの中の写真 */
.spot_item_img {
    width: 280px;
    height: 240px;
}

/* カードのスポット名 */
.spot_item_name {}

/* dlカードのスポット情報 */
.spot_item_info {}

/* スポットのもっと見るボタン */
.spot_top_btn {}

/* sectionインスタ */
.insta {}

/* imgでインスタロゴ */
.insta_logo {
    width: 100px;
    height: 100px;
    flex-basis: 100%;
}

.insta_slide {}

/* h2 インスタの見出し*/
.insta_top {}
