@charset 'utf-8';

body {
    box-sizing: border-box;
    width: 100%;
}

section+section {
    margin-bottom: 60px;
}

section:first-child {
    margin-top: 32px;
}

section:last-child {
    margin-bottom: 60px;
}

section {
    width: 1024px;
    max-width: 1024px;
    margin: 0 auto;
}

.mypage_h2 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.mypage_h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 32px;
    text-align: center;
}

.mypage_h3:first-child {
    margin-bottom: 16px;
}

.key_mypage {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用*/
@media screen and (min-width: 1024px) {
    .key_bg_mypage {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.mypage_about {
    width: 320px;
    padding: 20px;
    border: solid 1px #EF6000;
    background-color: rgba(255, 255, 252, 0.5);
    border-radius: 3px;
}

/* スクリーンサイズが1025px以上の場合(デスクトップ)に適用*/
@media screen and (min-width: 1024px) {
    .mypage_about {
        width: 1024px;
    }
}

.mypage_about_list>li+li {
    margin-top: 16px;
}

.mypage_about_list>li {
    list-style-type: disc;
}

.mypage_spot {
    margin: 0 auto;
}

.mypage_spot_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 32px 32px;
}

.mypage_spot_list::after {
    display: block;
    content: "";
    width: 320px;
}

/* 検索ボタン装飾 */
.btn_inner {
    width: 240px;
    height: 56px;
    background: #fff;
    box-shadow: 4px 4px #EF6000;
    border: 3px solid #005EA7;
    position: relative;
}

/* 検索ボタンのテキスト */
.top_more_btn {
    color: #FFFFFC;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ---------カードの設定---------*/
.spot_item {
    width: 320px;
    height: 440px;
    padding: 20px;
    margin: 0 auto;
    border: dashed 2px #EF6000;
    background-color: #FFFFFC;
}

.spot_item_cate {
    position: absolute;
    left: 0;
    top: 0;
}

.spot_item_img {
    width: 280px;
    height: 240px;
    object-fit: cover;
}

.spot_item_name {
    font-weight: bold;
    font-size: 24px;
    margin: 8px auto;
    flex-wrap: wrap;
}

.spot_item_info {
    flex-wrap: wrap;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.spot_item_info dt {
    width: 30%;
    font-weight: normal;
}

.spot_item_info dd {
    width: 70%;
}

/* お気に入りボタン */
.spot_like_icon {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 100;
}

/* ---------------------------- */
/* --- ハートアニメーション --- */
/* ---------------------------- */
@keyframes heartAnimation {
    0% {
        /* アイコンサイズをもとのより小さくする */
        transform: scale(0.5);
    }

    10% {
        transform: scale(0.7);
    }

    30% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1.5);
    }

    100% {
        /* もとのサイズに戻す */
        transform: scale(1.0);
    }
}

.LikesIcon-fa-heart {
    font-size: 30px;
}

.LikesIcon-fa-heart.heart {
    /* heartAnimationアニメーションを200ミリ秒かけて実行する */
    animation: heartAnimation .2s;
    /* アイコン色を黒から赤へ変更する */
    color: #e2264d;
}

/* --------------------------- */
