@charset "UTF-8";

.m_8 {
	margin: 8px;
}

/* 全体の設定 */
/* この中の物はラップで折り返す */
.news_detail_container {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (min-width: 599px) {
	.news_detail_container {
		width: 600px;
	}
}

@media screen and (min-width: 1024px) {
	.news_detail_container {
		width: 1024px;
	}
}

/* 記事全体の設定（画面左側） */
.news_detail_article {
	width: 100%;
	padding: 16px;
	border: dashed 2px #ef6000;
	background-color: #fffffc;
	margin-bottom: 80px;
}

@media screen and (min-width: 599px) {
	.news_detail_article {
		width: 600px;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (min-width: 1024px) {
	.news_detail_article {
		width: 804px;
		margin-bottom: auto;
	}
}

.article_title {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 16px;
}

/* ニュース上部カテゴリと日付の設定 */
.article_meta {
	margin-top: 8px;
	gap: 16px;
}

.post-categories {
	background-color: #d4ebec;
	border: solid 1px #005ea7;
	color: #005ea7;
}

/* 記事本文の設定 */
.article_body {
	margin-bottom: 32px;
}

/* 写真の設定 */
.article_body img {
	margin: 16px auto;
	width: 280px;
	height: 220px;
	object-fit: cover;
}

@media screen and (min-width: 599px) {
	.article_body img {
		width: 560px;
		height: 294px;
	}
}

@media screen and (min-width: 1024px) {
	.article_body img {
		width: 764px;
		height: 400px;
	}
}

.news_more_btn {
	width: 125px;
	object-fit: cover;
	margin-top: 16px;
}

@media screen and (min-width: 599px) {
	.news_more_btn {}
}



/* アーカイブ部分の設定 */
.news_detail_archive_wrap {
	width: 320px;
}

@media screen and (min-width: 599px) {
	.news_detail_archive_wrap {
		width: 600px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

@media screen and (min-width: 1024px) {
	.news_detail_archive_wrap {
		display: inline-block;
		width: 180px;
	}
}

/* サイズと縁取り（要素の増減に対応） */
.news_detail_archive {
	color: #005ea7;
	border: solid 1px #74c7f0;
	margin-bottom: 24px;
}

@media screen and (min-width: 599px) {
	.news_detail_archive {
		height: auto;
		width: 284px;
		margin-bottom: 40px;
	}
}

@media screen and (min-width: 1024px) {
	.news_detail_archive {
		width: auto;
		margin-bottom: 40px;
	}
}

/* 背景色（要素の増減に対応） */
.news_detail_archive_title {
	height: 40px;
	line-height: 40px;
	background-color: #d4ebec;
	padding-left: 10px;
}

.news_detail_archive_list li {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}

.news_detail_archive_list li:nth-child(even) {
	background-color: #d4ebec;
}

.news_detail_archive_list li:nth-child(odd) {
	background-color: #fff;
}

/* 下部装飾画像用（自転車をこぐ女性） */
.news_detail_wrap {
	position: relative;
	padding-bottom: 60px;
}

.news_bottom_img {
	display: none;
}

@media screen and (min-width: 1024px) {
	.news_bottom_img {
		display: block;
		position: absolute;
		bottom: 0px;
		right: 100px;
		width: 238px;
		height: 292px;
		z-index: -1;
	}
}

/* -------- ニュース記事の設定 -------- */

/* ニュース記事１つ分の枠 */
.news_card {
	width: 320px;
	height: 440px;
	/* margin: 0, 0, 80px, 0; */
	margin-bottom: 80px;
}

/* ニュース記事１つ分の設定 */
.news_card_item {
	width: 320px;
	height: 440px;
	padding: 20px;
	margin: 0 auto;
	border: dashed 2px #EF6000;
	background-color: #FFFFFC;
	position: relative;
}

/* ニュース記事の写真 */
.news_card_item_img {
	width: 280px;
	height: 240px;
	object-fit: cover;
}

.news_article_info_box {}

/* ニュース記事の見出しタイトル */
.news_card_item_name {
	font-weight: bold;
	font-size: 16px;
	margin: 8px 0;
	flex-wrap: wrap;
}

/* ニュース記事文章の入れ物 */
.news_card_txt_container {
	width: 280px;
	height: 45px;
}

/* ニュース記事の内容文 */
.news_card_txt {
	flex-wrap: wrap;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 20px;
}

.news_card_txt p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	/* 2行目の末で省略する*/
	overflow: hidden;
}

/* もっと読むボタン設定 */
.news_card_item_btn {
	font-size: 16px;
	width: 112px;
	height: 40px;
	background: #fff;
	box-shadow: 4px 4px #ef6000;
	border: 2px solid #005ea7;
	text-align: center;
	line-height: 40px;
	position: relative;
	margin-left: 160px;
	/* margin-bottom: 10px; */
	transition: 0.25s;

}

.news_card_item_btn:hover {
	transform: translate3d(8px, 8px, 0);
	box-shadow: none;
}


@media screen and (min-width: 599px) {
	.news_card {
		width: 600px;
		height: 280px;
	}

	.news_card_item {
		width: 600px;
		height: 280px;
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.news_card_txt p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		/* 3行目の末で省略する*/
		overflow: hidden;
	}

	.news_card_item_btn {
		position: relative;
		margin-left: 150px;
		margin-top: 20px;

	}
}


@media screen and (min-width: 1025px) {
	.news_card {
		width: 800px;
		height: 280px;
	}

	.news_card_item {
		width: 800px;
		height: 280px;
		display: flex;
		align-items: center;
		gap: 16px;
	}

	/* ニュース記事文の入れ物 */
	.news_card_txt_container {
		/* margin: auto; */
		/* border: 2px solid transparent; */
		width: 400px;
		/* height: 80px; */
	}

	/* ニュースの文章 */
	.news_card_txt p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		/* 3行目の末で省略する*/
		overflow: hidden;
	}

	.news_card_item_btn {
		position: relative;
		margin-left: 300px;
		margin-top: 20px;

	}
}

/* タブレット以上で news_article_info_boxを上部に*/
@media screen and (min-width: 599px) {
	.news_article_info_box {}
}
