@charset "UTF-8";

/* 全体の設定 */
.news_detail_container {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}
@media screen and (min-width: 1024px) {
	.news_detail_container {
		width: 1024px;
	}
}
/* 記事全体の設定（画面左側） */
.news_detail_article {
	width: 100%;
	padding: 16px;
	border: dashed 2px #ef6000;
	background-color: #fffffc;
	margin-bottom: 80px;
}
@media screen and (min-width: 1024px) {
	.news_detail_article {
		width: 804px;
		margin-bottom: auto;
	}
}

.article_title {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 16px;
}

/* ニュース上部カテゴリと日付の設定 */
.article_meta {
	gap: 16px;
}
.article_meta:nth-child() {
	width: 200px;
}
.post-categories {
	background-color: #d4ebec;
	border: solid 1px #005ea7;
	color: #005ea7;
}

/* 記事本文の設定 */
.article_body {
	margin-bottom: 32px;
}
.article_body img {
	margin: 16px auto;
	width: 280px;
	height: 220px;
}

@media screen and (min-width: 1024px) {
	.article_body img {
		width: auto;
		height: auto;
	}
}
/* 記事下部の別ページへのリンク */
.post_links {
	margin-top: 32px;
}
.post_link {
	width: 50%;
}
.post_link_prev {
	text-align: left;
}
.post_link_next {
	text-align: right;
}

/* 右側に来るアーカイブ */
.news_detail_archive_wrap {
	width: 320px;
}
@media screen and (min-width: 1024px) {
	.news_detail_archive_wrap {
		width: 180px;
	}
}

.news_detail_archive {
	color: #005ea7;
	border: solid 1px #74c7f0;
	margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
	.news_detail_archive {
		margin-bottom: 40px;
	}
}

.news_detail_archive_title {
	height: 40px;
	line-height: 40px;
	background-color: #d4ebec;
}
.news_detail_archive_list li {
	height: 40px;
	line-height: 40px;
}
.news_detail_archive_list li:nth-child(even) {
	background-color: #d4ebec;
}
.news_detail_archive_list li:nth-child(odd) {
	background-color: #fff;
}

/* 下部装飾画像（自転車をこぐ女性） */
.news_bottom_img {
	/* display: none; */
}
@media screen and (min-width: 1024px) {
	.news_bottom_img {
		/* display: inline; */
		position: absolute;
		bottom: 0%;
		right: 100px;
	}
}
main {
	padding-bottom: 60px;
}
