@charset "utf-8";

.spot_list {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	gap: 32px;
}



/* -----------デフォルトのカード表示の設定------------ */
/* スマートフォンの場合は3件表示 */

.card_container:nth-child(n + 4) {
	display: none;
}

/* タブレットの場合は4件表示 */
@media screen and (min-width: 671px) {
	.card_container:nth-child(n + 4) {
		display: inline-block;
	}
	.card_container:nth-child(n + 5) {
		display: none;
	}
}
/* PCの場合は6件表示 */
@media screen and (min-width: 1024px) {
	.card_container:nth-child(n + 5) {
		display: inline-block;
	}
	.card_container:nth-child(n + 7) {
		display: none;
	}
}


/* スポットのもっと見るボタンの設定----------- */
.spot_more_btn {
	margin: 32px auto 60px;
}
section + section {
	margin-top: 160px;
}

/* コース上スポット全体の表示設定 */
.course_spot_cate_list {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}
/* タブレット時2カラムにする場合 */
@media screen and (min-width: 671px) {
	.course_spot_cate_list {
		width: 672px;
	}
}
@media screen and (min-width: 1024px) {
	.course_spot_cate_list {
		width: 1024px;
	}
}
